
@{
    ViewBag.Title = "Weathers";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player | CodingNepal</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/fonts/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="section-heading">Our Courses</h1>
        </header>
    </div>
    <div class="container">
        <div class="tab-container">
            <div class="tab-filter-container">
                <li class="filter-btn active" data-tab="web-design">
                    <ion-icon name="desktop-outline"></ion-icon>
                    Web Design
                </li>
                <li class="filter-btn" data-tab="web-development">
                    <ion-icon name="logo-nodejs"></ion-icon>
                    Web Development
                </li>
                <li class="filter-btn" data-tab="ux-design">
                    <ion-icon name="diamond-outline"></ion-icon>
                    UI UX Design
                </li>
                <li class="filter-btn" data-tab="app-development">
                    <ion-icon name="logo-google-playstore"></ion-icon>
                    App Development
                </li>
            </div>
            <div class="tab-filter-item-container">
                <div class="tab-item web-design select_tab">
                    <div class="tab-content-left">
                        <img src="https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                             alt="web design"
                             class="tab-img" />
                    </div>
                    <div class="tab-content-right">
                        <h1 class="tab-heading">Responsive Web Design</h1>
                        <p class="paragraph">
                            Web design means creating websites with user-friendly structure
                            and with aesthetic approach. A web designer always thinks about
                            the layout, color scheme and unique design of a website
                        </p>
                        <a href="#" class="btn-primary">Read More</a>
                    </div>
                </div>
                <div class="tab-item web-development">
                    <div class="tab-content-left">
                        <h1 class="tab-heading">Web Development</h1>
                        <p class="paragraph">
                            Web Development consists of two segments front end development
                            and backend development. Front-end Developers work with visual
                            designs of a website and build the sites with using of code
                        </p>
                        <a href="#!" class="btn-primary">Read More</a>
                    </div>
                    <div class="tab-content-right">
                        <img src="https://images.unsplash.com/photo-1618761714954-0b8cd0026356?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                             alt="web development"
                             class="tab-img" />
                    </div>
                </div>
                <div class="tab-item ux-design">
                    <div class="tab-content-left">
                        <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" alt="UI/UX Design" class="tab-img" />
                    </div>
                    <div class="tab-content-right">
                        <h1 class="tab-heading">UI UX Design</h1>
                        <p class="paragraph">
                            This course UX & UI Design is designed for those people, who
                            wants to design anything to keep users on first priority and
                            working on to make them happy.
                        </p>
                        <a href="#!" class="btn-primary">Read More</a>
                    </div>
                </div>
                <div class="tab-item app-development">
                    <div class="tab-content-left">
                        <h1 class="tab-heading">App Development</h1>
                        <p class="paragraph">
                            With the world going mobile, the importance of apps is
                            increasing by the day. App development hence refers to the
                            creation of applications to be used on mobile devices.
                        </p>
                        <a href="#!" class="btn-primary">Read More</a>
                    </div>
                    <div class="tab-content-right">
                        <img src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                             alt="UI/UX Design"
                             class="tab-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/fonts/js/JavaScript.js"></script>
    <h2>Choose your programming language</h2>
    <figure class="snip1584">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
        <figcaption>
            <h3>HTML</h3>
            <h5>Web|Frontend|Backend</h5>
        </figcaption><a href="#"></a>
    </figure>
    <figure class="snip1584">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample119.jpg" alt="sample119" />
        <figcaption>
            <h3>CSS</h3>
            <h5>Web|Frontend|Backend</h5>
        </figcaption><a href="#"></a>
    </figure>
    <figure class="snip1584">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample120.jpg" alt="sample120" />
        <figcaption>
            <h3>JS</h3>
            <h5>Web|Frontend|Backend</h5>
        </figcaption><a href="#"></a>
    </figure>
</body>
</html>

